@import "../../styles/styles.scss";

.label {
  @include font-styles;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2px 80px 48px 0;
  color: #262626;
}

.validClass {
  color: $base-color;
  min-width: 256px;
}

.invalidClass {
  color: $invalid-color;
  min-width: 256px;
}

.invalidMsgClass {
  color: $invalid-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  font-family: sans-serif;
}
